# Class 11: Cleaning Data

In [1]:
import pandas as pd

In [2]:
# %load http://drsmb.co/310
data_url = 'https://github.com/rhodyprog4ds/inclass-data/raw/main/ca_dds_summary.xlsx'

 Recall from Wednesday

In [3]:
ca_dds_df = pd.read_excel(data_url, header=list(range(3)))
ca_dds_df

           Ethnicity  Asian                                    Black  \
              Gender Female                Male               Female
  Unnamed: 0_level_2  count          mean count          mean  count
0         Age Cohort    NaN           NaN   NaN           NaN    NaN
1              0 - 5    6.0   1544.333333   NaN           NaN    NaN
2               51 +    9.0  56577.666667   NaN           NaN    NaN
3              13-17   10.0   3385.700000  10.0   3632.500000    NaN
4              18-21   18.0  10083.277778  23.0   9218.521739    NaN
5              22-50   12.0  39470.916667  17.0  39657.882353    8.0
6               6-12    6.0   2165.333333  12.0   2164.166667    7.0

                                    Hispanic                      \
                 Male                 Female                Male
           mean count          mean    count          mean count
0           NaN   NaN           NaN      NaN           NaN   NaN
1           NaN   NaN           NaN     18.0   1431.333333  26.0
2           NaN   NaN           NaN      NaN           NaN  12.0
3           NaN   8.0   4367.250000     50.0   4043.720000  53.0
4           NaN   7.0   9119.428571     41.0  10199.390244  37.0
5  41284.125000   9.0  39941.000000     24.0  41005.541667  19.0
6   2566.571429   NaN           NaN     54.0   2443.777778  37.0

                White not Hispanic
                            Female                Male
           mean              count          mean count          mean
0           NaN                NaN           NaN   NaN           NaN
1   1366.807692               11.0   1316.818182   9.0   1428.111111
2  53019.000000               37.0  53449.486486  29.0  51676.448276
3   3871.849057               37.0   3818.810811  30.0   4009.866667
4   9694.405405               36.0  10452.944444  33.0   9784.090909
5  40821.263158               60.0  42113.816667  73.0  38604.452055
6   2120.135135               24.0   2112.750000  22.0   1986.272727

In [4]:
print(ca_dds_df)

           Ethnicity  Asian                                    Black  \
              Gender Female                Male               Female
  Unnamed: 0_level_2  count          mean count          mean  count
0         Age Cohort    NaN           NaN   NaN           NaN    NaN
1              0 - 5    6.0   1544.333333   NaN           NaN    NaN
2               51 +    9.0  56577.666667   NaN           NaN    NaN
3              13-17   10.0   3385.700000  10.0   3632.500000    NaN
4              18-21   18.0  10083.277778  23.0   9218.521739    NaN
5              22-50   12.0  39470.916667  17.0  39657.882353    8.0
6               6-12    6.0   2165.333333  12.0   2164.166667    7.0

                                    Hispanic                      \
                 Male                 Female                Male
           mean count          mean    count          mean count
0           NaN   NaN           NaN      NaN           NaN   NaN
1           NaN   NaN           NaN     18.0   1431.333333  26.0
2           NaN   NaN           NaN      NaN           NaN  12.0
3           NaN   8.0   4367.250000     50.0   4043.720000  53.0
4           NaN   7.0   9119.428571     41.0  10199.390244  37.0
5  41284.125000   9.0  39941.000000     24.0  41005.541667  19.0
6   2566.571429   NaN           NaN     54.0   2443.777778  37.0

                White not Hispanic
                            Female                Male
           mean              count          mean count          mean
0           NaN                NaN           NaN   NaN           NaN
1   1366.807692               11.0   1316.818182   9.0   1428.111111
2  53019.000000               37.0  53449.486486  29.0  51676.448276
3   3871.849057               37.0   3818.810811  30.0   4009.866667
4   9694.405405               36.0  10452.944444  33.0   9784.090909
5  40821.263158               60.0  42113.816667  73.0  38604.452055
6   2120.135135               24.0   2112.750000  22.0   1986.272727

First we can look at the index

In [5]:
ca_dds_df.index

RangeIndex(start=0, stop=7, step=1)

then the first's name

In [6]:
ca_dds_df.columns[0]

('Ethnicity', 'Gender', 'Unnamed: 0_level_2')

For this we want to se that as the index

In [7]:
ca_dds_df.set_index(ca_dds_df.columns[0],inplace=True)

ca_dds_df

                                         Asian                      \
                                        Female                Male
                                         count          mean count
(Ethnicity, Gender, Unnamed: 0_level_2)
Age Cohort                                 NaN           NaN   NaN
 0 - 5                                     6.0   1544.333333   NaN
 51 +                                      9.0  56577.666667   NaN
13-17                                     10.0   3385.700000  10.0
18-21                                     18.0  10083.277778  23.0
22-50                                     12.0  39470.916667  17.0
6-12                                       6.0   2165.333333  12.0

                                                       Black                \
                                                      Female
                                                 mean  count          mean
(Ethnicity, Gender, Unnamed: 0_level_2)
Age Cohort                                        NaN    NaN           NaN
 0 - 5                                            NaN    NaN           NaN
 51 +                                             NaN    NaN           NaN
13-17                                     3632.500000    NaN           NaN
18-21                                     9218.521739    NaN           NaN
22-50                                    39657.882353    8.0  41284.125000
6-12                                      2164.166667    7.0   2566.571429

                                                            Hispanic  \
                                         Male                 Female
                                        count          mean    count
(Ethnicity, Gender, Unnamed: 0_level_2)
Age Cohort                                NaN           NaN      NaN
 0 - 5                                    NaN           NaN     18.0
 51 +                                     NaN           NaN      NaN
13-17                                     8.0   4367.250000     50.0
18-21                                     7.0   9119.428571     41.0
22-50                                     9.0  39941.000000     24.0
6-12                                      NaN           NaN     54.0

                                                                           \
                                                       Male
                                                 mean count          mean
(Ethnicity, Gender, Unnamed: 0_level_2)
Age Cohort                                        NaN   NaN           NaN
 0 - 5                                    1431.333333  26.0   1366.807692
 51 +                                             NaN  12.0  53019.000000
13-17                                     4043.720000  53.0   3871.849057
18-21                                    10199.390244  37.0   9694.405405
22-50                                    41005.541667  19.0  40821.263158
6-12                                      2443.777778  37.0   2120.135135

                                        White not Hispanic                \
                                                    Female
                                                     count          mean
(Ethnicity, Gender, Unnamed: 0_level_2)
Age Cohort                                             NaN           NaN
 0 - 5                                                11.0   1316.818182
 51 +                                                 37.0  53449.486486
13-17                                                 37.0   3818.810811
18-21                                                 36.0  10452.944444
22-50                                                 60.0  42113.816667
6-12                                                  24.0   2112.750000


                                         Male
                                        count          mean
(Ethnicity, Gender, Unnamed: 0_level_2)
Age Cohort                                NaN           NaN
 0 - 5                                    9.0   1428.111111
 51 +                                    29.0  51676.448276
13-17                                    30.0   4009.866667
18-21                                    33.0   9784.090909
22-50                                    73.0  38604.452055
6-12                                     22.0   1986.272727

We can get rid of rows that are all `nan`, that have no data in them, using `dropna` with `how='all'`

In [8]:
ca_dds_df.dropna(how='all',inplace=True)

In [9]:
ca_dds_df.index

Index([' 0 - 5', ' 51 +', '13-17', '18-21', '22-50', '6-12'], dtype='object', name=('Ethnicity', 'Gender', 'Unnamed: 0_level_2'))

We want to still rename this, we we'll fill that in manually

In [10]:
ca_dds_df.index.rename('Age Cohort',inplace=True)

Now we want to unstack,

In [11]:
ca_dds_df.unstack(level= [0,1])

IndexError: Too many levels: Index has only 1 level, not 2

 but this doesn't quite get what we want, instead we can

We can rotate  (transpose `.T` )this, then unstack and rotate it back to get the outcome we want here.

In [12]:
ca_dds_df.T.unstack(level= [0,1]).T.reset_index()

   Age Cohort             level_1 level_2  count          mean
0       0 - 5               Asian  Female    6.0   1544.333333
1       0 - 5               Asian    Male    NaN           NaN
2       0 - 5               Black  Female    NaN           NaN
3       0 - 5               Black    Male    NaN           NaN
4       0 - 5            Hispanic  Female   18.0   1431.333333
5       0 - 5            Hispanic    Male   26.0   1366.807692
6       0 - 5  White not Hispanic  Female   11.0   1316.818182
7       0 - 5  White not Hispanic    Male    9.0   1428.111111
8        51 +               Asian  Female    9.0  56577.666667
9        51 +               Asian    Male    NaN           NaN
10       51 +               Black  Female    NaN           NaN
11       51 +               Black    Male    NaN           NaN
12       51 +            Hispanic  Female    NaN           NaN
13       51 +            Hispanic    Male   12.0  53019.000000
14       51 +  White not Hispanic  Female   37.0  53449.486486
15       51 +  White not Hispanic    Male   29.0  51676.448276
16      13-17               Asian  Female   10.0   3385.700000
17      13-17               Asian    Male   10.0   3632.500000
18      13-17               Black  Female    NaN           NaN
19      13-17               Black    Male    8.0   4367.250000
20      13-17            Hispanic  Female   50.0   4043.720000
21      13-17            Hispanic    Male   53.0   3871.849057
22      13-17  White not Hispanic  Female   37.0   3818.810811
23      13-17  White not Hispanic    Male   30.0   4009.866667
24      18-21               Asian  Female   18.0  10083.277778
25      18-21               Asian    Male   23.0   9218.521739
26      18-21               Black  Female    NaN           NaN
27      18-21               Black    Male    7.0   9119.428571
28      18-21            Hispanic  Female   41.0  10199.390244
29      18-21            Hispanic    Male   37.0   9694.405405
30      18-21  White not Hispanic  Female   36.0  10452.944444
31      18-21  White not Hispanic    Male   33.0   9784.090909
32      22-50               Asian  Female   12.0  39470.916667
33      22-50               Asian    Male   17.0  39657.882353
34      22-50               Black  Female    8.0  41284.125000
35      22-50               Black    Male    9.0  39941.000000
36      22-50            Hispanic  Female   24.0  41005.541667
37      22-50            Hispanic    Male   19.0  40821.263158
38      22-50  White not Hispanic  Female   60.0  42113.816667
39      22-50  White not Hispanic    Male   73.0  38604.452055
40       6-12               Asian  Female    6.0   2165.333333
41       6-12               Asian    Male   12.0   2164.166667
42       6-12               Black  Female    7.0   2566.571429
43       6-12               Black    Male    NaN           NaN
44       6-12            Hispanic  Female   54.0   2443.777778
45       6-12            Hispanic    Male   37.0   2120.135135
46       6-12  White not Hispanic  Female   24.0   2112.750000
47       6-12  White not Hispanic    Male   22.0   1986.272727

This looks good, so we'll save it to a new DataFrame

In [13]:
ca_dds_clean = ca_dds_df.T.unstack(level= [0,1]).T.reset_index()
ca_dds_clean.head()

  Age Cohort   level_1 level_2  count         mean
0      0 - 5     Asian  Female    6.0  1544.333333
1      0 - 5     Asian    Male    NaN          NaN
2      0 - 5     Black  Female    NaN          NaN
3      0 - 5     Black    Male    NaN          NaN
4      0 - 5  Hispanic  Female   18.0  1431.333333

We want to rename the two with nondescript names, but the index is not mutable

In [14]:
ca_dds_clean.columns[1] = 'Race'

TypeError: Index does not support mutable operations

In [15]:
type(ca_dds_clean.columns)

pandas.core.indexes.base.Index

Instead we can use rename with a dictionary, this way is good also because it's explicit and readable.

In [16]:
ca_dds_clean.rename(columns= {'level_1':'Race', 'level_2':'Gender'},inplace=True)
ca_dds_clean.head()

  Age Cohort      Race  Gender  count         mean
0      0 - 5     Asian  Female    6.0  1544.333333
1      0 - 5     Asian    Male    NaN          NaN
2      0 - 5     Black  Female    NaN          NaN
3      0 - 5     Black    Male    NaN          NaN
4      0 - 5  Hispanic  Female   18.0  1431.333333

In [17]:
ca_dds_clean['count'][0]

6.0

In [18]:
ca_dds_clean.Gender[0]

'Female'

In [19]:
ca_dds_clean.Gender[0].lower()

'female'

In [20]:
clean_cols = {c:c.lower().replace(' ','_') for c in ca_dds_clean.columns}
ca_dds_clean.rename(columns=clean_cols,inplace=True)
ca_dds_clean.head()

  age_cohort      race  gender  count         mean
0      0 - 5     Asian  Female    6.0  1544.333333
1      0 - 5     Asian    Male    NaN          NaN
2      0 - 5     Black  Female    NaN          NaN
3      0 - 5     Black    Male    NaN          NaN
4      0 - 5  Hispanic  Female   18.0  1431.333333

In [21]:
ca_dds_clean.fillna('*')

   age_cohort                race  gender count     mean
0       0 - 5               Asian  Female     6  1544.33
1       0 - 5               Asian    Male     *        *
2       0 - 5               Black  Female     *        *
3       0 - 5               Black    Male     *        *
4       0 - 5            Hispanic  Female    18  1431.33
5       0 - 5            Hispanic    Male    26  1366.81
6       0 - 5  White not Hispanic  Female    11  1316.82
7       0 - 5  White not Hispanic    Male     9  1428.11
8        51 +               Asian  Female     9  56577.7
9        51 +               Asian    Male     *        *
10       51 +               Black  Female     *        *
11       51 +               Black    Male     *        *
12       51 +            Hispanic  Female     *        *
13       51 +            Hispanic    Male    12    53019
14       51 +  White not Hispanic  Female    37  53449.5
15       51 +  White not Hispanic    Male    29  51676.4
16      13-17               Asian  Female    10   3385.7
17      13-17               Asian    Male    10   3632.5
18      13-17               Black  Female     *        *
19      13-17               Black    Male     8  4367.25
20      13-17            Hispanic  Female    50  4043.72
21      13-17            Hispanic    Male    53  3871.85
22      13-17  White not Hispanic  Female    37  3818.81
23      13-17  White not Hispanic    Male    30  4009.87
24      18-21               Asian  Female    18  10083.3
25      18-21               Asian    Male    23  9218.52
26      18-21               Black  Female     *        *
27      18-21               Black    Male     7  9119.43
28      18-21            Hispanic  Female    41  10199.4
29      18-21            Hispanic    Male    37  9694.41
30      18-21  White not Hispanic  Female    36  10452.9
31      18-21  White not Hispanic    Male    33  9784.09
32      22-50               Asian  Female    12  39470.9
33      22-50               Asian    Male    17  39657.9
34      22-50               Black  Female     8  41284.1
35      22-50               Black    Male     9    39941
36      22-50            Hispanic  Female    24  41005.5
37      22-50            Hispanic    Male    19  40821.3
38      22-50  White not Hispanic  Female    60  42113.8
39      22-50  White not Hispanic    Male    73  38604.5
40       6-12               Asian  Female     6  2165.33
41       6-12               Asian    Male    12  2164.17
42       6-12               Black  Female     7  2566.57
43       6-12               Black    Male     *        *
44       6-12            Hispanic  Female    54  2443.78
45       6-12            Hispanic    Male    37  2120.14
46       6-12  White not Hispanic  Female    24  2112.75
47       6-12  White not Hispanic    Male    22  1986.27

## Questions after class


### What happens when we use dropna?

We can see the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) it drops the whole row or column.

In [22]:
import numpy as np #
test_df = pd.DataFrame(data = [[1,3,4,5],[2 ,6, np.na]])

AttributeError: module 'numpy' has no attribute 'na'