 # Class 10: Cleaning review and Ray Summit Keynotes

- Say hello on zoom chat
- join prismia
- sign up so you can watch Ray Summit talks by Pandas and Scikit learn

In [1]:
import pandas as pd

In [2]:
# %load http://drsmb.co/310
data_url = 'https://github.com/rhodyprog4ds/inclass-data/raw/main/ca_dds_summary.xlsx'

Let's look at the data

In [3]:
pd.read_excel(data_url)

,Ethnicity,Asian,Unnamed: 2,Unnamed: 3,Unnamed: 4,Black,Unnamed: 6,Unnamed: 7,Unnamed: 8,Hispanic,Unnamed: 10,Unnamed: 11,Unnamed: 12,White not Hispanic,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Gender,Female,NaN,Male,NaN,Female,NaN,Male,NaN,Female,NaN,Male,NaN,Female,NaN,Male,NaN
1,NaN,count,mean,count,mean,count,mean,count,mean,count,mean,count,mean,count,mean,count,mean
2,Age Cohort,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0 - 5,6,1544.33,NaN,NaN,NaN,NaN,NaN,NaN,18,1431.33,26,1366.81,11,1316.82,9,1428.11
4,51 +,9,56577.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,53019,37,53449.5,29,51676.4
5,13-17,10,3385.7,10,3632.5,NaN,NaN,8,4367.25,50,4043.72,53,3871.85,37,3818.81,30,4009.87
6,18-21,18,10083.3,23,9218.52,NaN,NaN,7,9119.43,41,10199.4,37,9694.41,36,10452.9,33,9784.09
7,22-50,12,39470.9,17,39657.9,8,41284.1,9,39941,24,41005.5,19,40821.3,60,42113.8,73,38604.5
8,6-12,6,2165.33,12,2164.17,7,2566.57,NaN,NaN,54,2443.78,37,2120.14,24,2112.75,22,1986.27

We can read multiple rows in as the header

In [4]:
pd.read_excel(data_url,header=list(range(4)))

           Ethnicity              Asian                                        \
              Gender             Female                                  Male
  Unnamed: 0_level_2              count               mean              count
          Age Cohort Unnamed: 1_level_3 Unnamed: 2_level_3 Unnamed: 3_level_3
0              0 - 5                  6        1544.333333                NaN
1               51 +                  9       56577.666667                NaN
2              13-17                 10        3385.700000               10.0
3              18-21                 18       10083.277778               23.0
4              22-50                 12       39470.916667               17.0
5               6-12                  6        2165.333333               12.0

                                  Black                                        \
                                 Female                                  Male
                mean              count               mean              count
  Unnamed: 4_level_3 Unnamed: 5_level_3 Unnamed: 6_level_3 Unnamed: 7_level_3
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2        3632.500000                NaN                NaN                8.0
3        9218.521739                NaN                NaN                7.0
4       39657.882353                8.0       41284.125000                9.0
5        2164.166667                7.0        2566.571429                NaN

                               Hispanic                      \
                                 Female
                mean              count                mean
  Unnamed: 8_level_3 Unnamed: 9_level_3 Unnamed: 10_level_3
0                NaN               18.0         1431.333333
1                NaN                NaN                 NaN
2        4367.250000               50.0         4043.720000
3        9119.428571               41.0        10199.390244
4       39941.000000               24.0        41005.541667
5                NaN               54.0         2443.777778

                                           White not Hispanic  \
                 Male                                  Female
                count                mean               count
  Unnamed: 11_level_3 Unnamed: 12_level_3 Unnamed: 13_level_3
0                  26         1366.807692                  11
1                  12        53019.000000                  37
2                  53         3871.849057                  37
3                  37         9694.405405                  36
4                  19        40821.263158                  60
5                  37         2120.135135                  24


                                     Male
                 mean               count                mean
  Unnamed: 14_level_3 Unnamed: 15_level_3 Unnamed: 16_level_3
0         1316.818182                   9         1428.111111
1        53449.486486                  29        51676.448276
2         3818.810811                  30         4009.866667
3        10452.944444                  33         9784.090909
4        42113.816667                  73        38604.452055
5         2112.750000                  22         1986.272727

Looks good, let's save this to a DataFrame

In [5]:
ca_dds_df = pd.read_excel(data_url,header=list(range(4)))

In [6]:
ca_dds_df.head()

           Ethnicity              Asian                                        \
              Gender             Female                                  Male
  Unnamed: 0_level_2              count               mean              count
          Age Cohort Unnamed: 1_level_3 Unnamed: 2_level_3 Unnamed: 3_level_3
0              0 - 5                  6        1544.333333                NaN
1               51 +                  9       56577.666667                NaN
2              13-17                 10        3385.700000               10.0
3              18-21                 18       10083.277778               23.0
4              22-50                 12       39470.916667               17.0

                                  Black                                        \
                                 Female                                  Male
                mean              count               mean              count
  Unnamed: 4_level_3 Unnamed: 5_level_3 Unnamed: 6_level_3 Unnamed: 7_level_3
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2        3632.500000                NaN                NaN                8.0
3        9218.521739                NaN                NaN                7.0
4       39657.882353                8.0          41284.125                9.0

                               Hispanic                      \
                                 Female
                mean              count                mean
  Unnamed: 8_level_3 Unnamed: 9_level_3 Unnamed: 10_level_3
0                NaN               18.0         1431.333333
1                NaN                NaN                 NaN
2        4367.250000               50.0         4043.720000
3        9119.428571               41.0        10199.390244
4       39941.000000               24.0        41005.541667

                                           White not Hispanic  \
                 Male                                  Female
                count                mean               count
  Unnamed: 11_level_3 Unnamed: 12_level_3 Unnamed: 13_level_3
0                  26         1366.807692                  11
1                  12        53019.000000                  37
2                  53         3871.849057                  37
3                  37         9694.405405                  36
4                  19        40821.263158                  60


                                     Male
                 mean               count                mean
  Unnamed: 14_level_3 Unnamed: 15_level_3 Unnamed: 16_level_3
0         1316.818182                   9         1428.111111
1        53449.486486                  29        51676.448276
2         3818.810811                  30         4009.866667
3        10452.944444                  33         9784.090909
4        42113.816667                  73        38604.452055

In [7]:
ca_dds_df.columns

MultiIndex([(         'Ethnicity', 'Gender', 'Unnamed: 0_level_2', ...),
            (             'Asian', 'Female',              'count', ...),
            (             'Asian', 'Female',               'mean', ...),
            (             'Asian',   'Male',              'count', ...),
            (             'Asian',   'Male',               'mean', ...),
            (             'Black', 'Female',              'count', ...),
            (             'Black', 'Female',               'mean', ...),
            (             'Black',   'Male',              'count', ...),
            (             'Black',   'Male',               'mean', ...),
            (          'Hispanic', 'Female',              'count', ...),
            (          'Hispanic', 'Female',               'mean', ...),
            (          'Hispanic',   'Male',              'count', ...),
            (          'Hispanic',   'Male',               'mean', ...),
            ('White not Hispanic', 'Female',              'count', ...),
            ('White not Hispanic', 'Female',               'mean', ...),
            ('White not Hispanic',   'Male',              'count', ...),
            ('White not Hispanic',   'Male',               'mean', ...)],
           )

## Ray Summit Notes

__contribute things you learned here__


### Pandas, by Wes
- Pandas was designed to do data science on your laptop
- It's designed to be coupled tightly to numpy, which is why it's not very fast, especially with strings
-


### Scikit Learn

- Data science for the many not the mighty
- Machine learning for all