# Class 9: Preparing Data For Analysis

- Say hello in the zoom chat
- join Prismia

<!-- annotate: Warmup: type review --> 
## Warmup: type review

In [1]:
type([char for char in 'abcde'])

list

In [2]:
type({char:i for i, char in enumerate('abcde')})

dict

In [3]:
type(('a','b','c','d','e'))

tuple

In [4]:
 type('a b c d e'.split(' '))

list

<!-- annotate: Loading Data --> 
## Loading Data

In [5]:
# %load http://drsmb.co/310
import pandas as pd
import seaborn as sns

In [6]:
safi_url = 'https://raw.githubusercontent.com/brownsarahm/python-socialsci-files/master/data/SAFI_full_shortname.csv'
safi_df = pd.read_csv(safi_url)

<!-- annotate: Exploring Types --> 
## Exploring Types

In [7]:
def separate_items(row):
    '''
    '''

    return [i.strip() for i in  row['items_owned'].replace('[','').replace(']','').replace("'","").split(';')]

In [8]:
safi_df.apply(separate_items,axis=1)

AttributeError: 'float' object has no attribute 'replace'

In [9]:
safi_df['items_owned']

0      ['bicycle' ;  'television' ;  'solar_panel' ; ...
1      ['cow_cart' ;  'bicycle' ;  'radio' ;  'cow_pl...
2                                        ['solar_torch']
3      ['bicycle' ;  'radio' ;  'cow_plough' ;  'sola...
4      ['motorcyle' ;  'radio' ;  'cow_plough' ;  'mo...
                             ...
126            ['motorcyle' ;  'radio' ;  'solar_panel']
127    ['car' ;  'lorry' ;  'television' ;  'radio' ;...
128    ['radio' ;  'solar_panel' ;  'solar_torch' ;  ...
129    ['cow_cart' ;  'lorry' ;  'motorcyle' ;  'comp...
130    ['radio' ;  'cow_plough' ;  'solar_panel' ;  '...
Name: items_owned, Length: 131, dtype: object

In [10]:
[item_list for item_list in  safi_df['items_owned'] if type(item_list)==float]

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [11]:
def separate_items(row):
    '''
    '''
    if type(row['items_owned'])==str:
        return [i.strip() for i in  row['items_owned'].replace('[','').replace(']','').replace("'","").split(';')]
    else: 
        return []

<!-- annotate: Dummies From Lists --> 
## Dummies From Lists

In [12]:
safi_df.apply(separate_items,axis=1)

0              [bicycle, television, solar_panel, table]
1      [cow_cart, bicycle, radio, cow_plough, solar_p...
2                                          [solar_torch]
3      [bicycle, radio, cow_plough, solar_panel, mobi...
4           [motorcyle, radio, cow_plough, mobile_phone]
                             ...
126                      [motorcyle, radio, solar_panel]
127    [car, lorry, television, radio, sterio, cow_pl...
128      [radio, solar_panel, solar_torch, mobile_phone]
129    [cow_cart, lorry, motorcyle, computer, televis...
130    [radio, cow_plough, solar_panel, solar_torch, ...
Length: 131, dtype: object

In [13]:
safi_df['items_owned'] = safi_df.apply(separate_items,axis=1)

In [14]:
pd.get_dummies(safi_df['items_owned'].apply(pd.Series).stack())

       bicycle  car  computer  cow_cart  cow_plough  electricity  fridge  \
0   0        1    0         0         0           0            0       0
    1        0    0         0         0           0            0       0
    2        0    0         0         0           0            0       0
    3        0    0         0         0           0            0       0
1   0        0    0         0         1           0            0       0
...        ...  ...       ...       ...         ...          ...     ...
130 1        0    0         0         0           1            0       0
    2        0    0         0         0           0            0       0
    3        0    0         0         0           0            0       0
    4        0    0         0         0           0            0       0
    5        0    0         0         0           0            0       0

       lorry  mobile_phone  motorcyle  radio  sofa_set  solar_panel  \
0   0      0             0          0      0         0            0
    1      0             0          0      0         0            0
    2      0             0          0      0         0            1
    3      0             0          0      0         0            0
1   0      0             0          0      0         0            0
...      ...           ...        ...    ...       ...          ...
130 1      0             0          0      0         0            0
    2      0             0          0      0         0            1
    3      0             0          0      0         0            0
    4      0             0          0      0         0            0
    5      0             1          0      0         0            0

       solar_torch  sterio  table  television
0   0            0       0      0           0
    1            0       0      0           1
    2            0       0      0           0
    3            0       0      1           0
1   0            0       0      0           0
...            ...     ...    ...         ...
130 1            0       0      0           0
    2            0       0      0           0
    3            1       0      0           0
    4            0       0      1           0
    5            0       0      0           0

[621 rows x 17 columns]

In [15]:
safi_df['items_owned'].shape

(131,)

In [16]:
pd.get_dummies(safi_df['items_owned'].apply(pd.Series).stack()).index

MultiIndex([(  0,  0),
            (  0,  1),
            (  0,  2),
            (  0,  3),
            (  1,  0),
            (  1,  1),
            (  1,  2),
            (  1,  3),
            (  1,  4),
            (  1,  5),
            ...
            (129,  8),
            (129,  9),
            (129, 10),
            (129, 11),
            (130,  0),
            (130,  1),
            (130,  2),
            (130,  3),
            (130,  4),
            (130,  5)],
           length=621)

In [17]:
pd.get_dummies(safi_df['items_owned'].apply(pd.Series).stack()).sum(level=0)

,bicycle,car,computer,cow_cart,cow_plough,electricity,fridge,lorry,mobile_phone,motorcyle,radio,sofa_set,solar_panel,solar_torch,sterio,table,television
0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1
1,1,0,0,1,1,0,0,0,1,0,1,0,1,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0
127,0,1,0,0,1,1,1,1,1,0,1,1,0,1,1,1,1
128,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0,0,0
129,0,0,1,1,1,1,0,1,1,1,1,0,1,1,1,0,1
130,0,0,0,0,1,0,0,0,1,0,1,0,1,1,0,1,0

In [18]:
safi_df['items_owned'].head()

0            [bicycle, television, solar_panel, table]
1    [cow_cart, bicycle, radio, cow_plough, solar_p...
2                                        [solar_torch]
3    [bicycle, radio, cow_plough, solar_panel, mobi...
4         [motorcyle, radio, cow_plough, mobile_phone]
Name: items_owned, dtype: object

In [19]:
safi_item_df = pd.get_dummies(safi_df['items_owned'].apply(pd.Series).stack()).sum(level=0)

<!-- annotate: Pandas concat --> 
## Pandas concat

In [20]:
safi_df = pd.concat([safi_df, safi_item_df],axis=1)

In [21]:
safi_df.shape

(131, 82)

In [22]:
safi_df.head()

,key_id,interview_date,quest_no,start,end,province,district,ward,village,years_farm,...,lorry,mobile_phone,motorcyle,radio,sofa_set,solar_panel,solar_torch,sterio,table,television
0,1,17 November 2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Manica,Manica,Bandula,God,11,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
1,2,17 November 2016,1,2017-04-02T09:48:16.000Z,2017-04-02T17:26:19.000Z,Manica,Manica,Bandula,God,2,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
2,3,17 November 2016,3,2017-04-02T14:35:26.000Z,2017-04-02T17:26:53.000Z,Manica,Manica,Bandula,God,40,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,4,17 November 2016,4,2017-04-02T14:55:18.000Z,2017-04-02T17:27:16.000Z,Manica,Manica,Bandula,God,6,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5,17 November 2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Manica,Manica,Bandula,God,18,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

<!-- annotate: Working with Dummy Variables --> 
## Working with Dummy Variables

In [23]:
safi_df['bicycle']

0      1.0
1      1.0
2      0.0
3      1.0
4      0.0
      ...
126    0.0
127    0.0
128    0.0
129    0.0
130    0.0
Name: bicycle, Length: 131, dtype: float64

In [24]:
sum(safi_df['bicycle'])

nan

In [25]:
safi_df['bicycle'].sum()

60.0

In [26]:
safi_df['bicycle'].count()

121

In [27]:
safi_df['bicycle'].shape

(131,)

In [28]:
pd.concat([safi_df, safi_item_df],axis=0).shape

(252, 82)